.l1 a{

    text-decoration: none;
    color: black;
    display: flex;
}
.l2 a{
    width: fit-content;
    text-decoration: none;
    color: black;
    display: flex;
}
.l3 a{
    width: fit-content;
    text-decoration: none;
    color: black;
    display: flex;
}
.l4 a{
    width: fit-content;
    text-decoration: none;
    color: black;
    display: flex;
}
.l5 a{
        width: fit-content;
    text-decoration: none;
    color: black;
    display: flex;
}
.logo1 hr{
    width: 10em;
}

.logo1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.lf{
    font-size: 1em;
    color: red;
}
.p0{
    font-size: 6em;
    color: black;
}
.p1{
    color: red;
    width: fit-content;
}
.center{
    display: flex;
    justify-content: space-evenly;
    
}
